@model IEnumerable<EFLayer.Class.Gonderiler>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UILayout.cshtml";
}
@* 

 <div class="card post-item bg-transparent border-0 mb-5">
    <a href="~/UITheme/post-details.html">
        <img class="card-img-top rounded-0" src="~/UITheme/images/Van Gogh 1.jpeg" alt="">
    </a>
    <div class="card-body px-0">
        <h2 class="card-title">
            <a class="text-white opacity-75-onHover" href="~/UITheme/post-details.html">Yıldızlı Gece </a>
        </h2>
        <ul class="post-meta mt-3">
            <li class="d-inline-block mr-3">
                <span class="fas fa-clock text-primary"></span>
                <a class="ml-1" href="~/UITheme/#">24 April, 2016</a>
            </li>
            <li class="d-inline-block">
                <span class="fas fa-list-alt text-primary"></span>
                <a class="ml-1" href="~/UITheme/#">Photography</a>
            </li>
        </ul>
        <p class="card-text my-4">
            Eğer resim sanatına merakınız varsa,
            Van Gogh’un “Yıldızlı Gece”sinin Post-Empresyonist tarzın bir simgesi olduğunu büyük olasılıkla biliyorsunuzdur.
            Sanatçının hayatının son döneminde kaldığı Saint-Rémy-de-Provence’deki sanatoryumun penceresinden
            bu meşhur gece görüntüsü tablosuna yansıtmıştır.
            Üstelik Van Gogh'un bu tabloyu bitirmesi sadece bir gününü almış!
            Yaratıcı bir zihnin ürünü bir şekilde bir gün birilerinin ilgisini çeker sevgili sanatperverler.
        </p>
        <a href="~/UITheme/post-details.html" class="btn btn-primary">Read More <img src="~/UITheme/AdminLTE/images/arrow-right.png" alt=""></a>
    </div>
</div>
<div class="card post-item bg-transparent border-0 mb-5">
    <a href="~/UITheme/post-details.html">
        <img class="card-img-top rounded-0" src="~/UITheme/images/Van Gogh 2.jpg" alt="">
    </a>
    <div class="card-body px-0">
        <h2 class="card-title">
            <a class="text-white opacity-75-onHover" href="~/UITheme/post-details.html">Kafe Terasta Gece</a>
        </h2>
        <ul class="post-meta mt-3">
            <li class="d-inline-block mr-3">
                <span class="fas fa-clock text-primary"></span>
                <a class="ml-1" href="~/UITheme/#">24 April, 2016</a>
            </li>
            <li class="d-inline-block">
                <span class="fas fa-list-alt text-primary"></span>
                <a class="ml-1" href="~/UITheme/#">Photography</a>
            </li>
        </ul>
        <p class="card-text my-4">
            Van Gogh'un Arles'te kaldığı dönemde yaptığı bir diğer yağlı boya tablo;
            adı Café Van Gogh olarak değişen Place du Forum’daki La Terrasse kafesini resmettiği ”Kafe Terasta Gece” idi.
            Fransa’nın güneyine dinginlik ve ilham arayışıyla gelen ressam,
            iyimser bakış açısının simgesi olan sıcak renkleri tabloda bol miktarda kullanmış ve
            gölgede kalan evleri yıldızlarla dolu bir gökyüzü ile yan yana resmetmiştir.
        </p>
        <a href="~/UITheme/post-details.html" class="btn btn-primary">Read More <img src="~/UITheme/AdminLTE/images/arrow-right.png" alt=""></a>
    </div>
</div>
<div class="card post-item bg-transparent border-0 mb-5">
    <a href="~/UITheme/post-details.html">
        <img class="card-img-top rounded-0" src="~/UITheme/images/VanGogh3.jpg" alt="">
    </a>
    <div class="card-body px-0">
        <h2 class="card-title">
            <a class="text-white opacity-75-onHover" href="~/UITheme/post-details.html">Çiçek Açan Badem Ağacı</a>
        </h2>
        <ul class="post-meta mt-3">
            <li class="d-inline-block mr-3">
                <span class="fas fa-clock text-primary"></span>
                <a class="ml-1" href="~/UITheme/#">24 April, 2016</a>
            </li>
            <li class="d-inline-block">
                <span class="fas fa-list-alt text-primary"></span>
                <a class="ml-1" href="~/UITheme/#">Photography</a>
            </li>
        </ul>
        <p class="card-text my-4">
            Van Gogh'un en çok sevdiği şeylerden biri yeni çiçek açmış ağaçları çizmekti çünkü
            karmaşık iç dünyasında doğayı resmetmek onu aynı zamanda terapi ediyordu.
            Kötü günlerinde yanında olan çok sevdiği kardeşi Theo’nun oğlu için "Çiçek Açan Badem Ağacı"nı yaptı.
            Bu eser de Van Gogh'un en ünlü tablolarından sadece bir tanesidir.
        </p>
        <a href="~/UITheme/post-details.html" class="btn btn-primary">Read More <img src="~/UITheme/AdminLTE/images/arrow-right.png" alt=""></a>
    </div>
</div>  *@
<!-- end of post-item -->
@*   <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GonderiName)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.GonderiBaslik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GonderiIcerik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GonderiResim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.kategoriId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kategories)
            </th>
            <th></th>
        </tr>
    </thead> *@
    <tbody> 
        
@foreach (var item in Model) {
        <tr>
            <div class="card post-item bg-transparent border-0 mb-5">
    <a href="/UITheme/post-details.html">
        <img class="card-img-top rounded-0" src="@item.GonderiResim" alt="">
    </a>
    <div class="card-body px-0">
        <h2 class="card-title">
            <a class="text-white opacity-75-onHover" href="/UITheme/post-details.html">@item.GonderiName</a>
        </h2>
        <ul class="post-meta mt-3">
            <li class="d-inline-block mr-3">
                <span class="fas fa-clock text-primary"></span>
                <a class="ml-1" href="/UITheme/#">24 April, 2016</a>
            </li>
            <li class="d-inline-block">
                <span class="fas fa-list-alt text-primary"></span>
                <a class="ml-1" href="/UITheme/#">Photography</a>
            </li>
        </ul>
        <p class="card-text my-4">
            @item.GonderiIcerik
        </p>
        <a href="/UITheme/post-details.html" class="btn btn-primary">Read More <img src="/UITheme/AdminLTE/images/arrow-right.png" alt=""></a>
    </div>
</div>
@*
              <td>
                @Html.DisplayFor(modelItem => item.GonderiBaslik)
            </td> 
            <td>
                @Html.DisplayFor(modelItem => item.kategoriId)
            </td> 
            <td>
                <br/>
                <span class="underline-text">@Html.DisplayFor(modelItem => item.GonderiName)</span>
            </td>
                
                <td>
                <img src="@item.GonderiResim" alt="Kullanıcı Resmi" width="635" height="495" />
                <br/>
                </td>
            <td>
                 @Html.DisplayFor(modelItem => item.GonderiIcerik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kategories.kategoryName)
            </td> *@
        </tr>
}
    </tbody>
 